<div class="form-container">
  <h2 class="form-title">Edit Event</h2>

  <form id="editEventForm">
    
    <input type="text" name="name" placeholder="Event Name" required />

    <input type="date" name="start_date" required />

    <input type="date" name="end_date" required />

    <input type="text" name="venue" placeholder="Venue" required />

    <input type="number" name="max_participants" placeholder="Seats" required />

    <button type="submit" class="submit-btn">Update Event</button>
  </form>
</div>
